@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

/*GENERAL CHARACTARISTICS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color: #141414;
}

body{
    font-size: 1.6rem;
}

.AllLocal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
}

.DivTitulo{
    margin-bottom: 5rem;
    color: white;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 4rem;
}

.ImageBlockContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.fila-flex-1, .fila-flex-2, .fila-flex-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#foto2, #foto3{
    width: 38rem;
    margin: 2rem;
}

#foto4, #foto5, #foto6{
    width: 24rem;
    margin: 2rem;
}

#foto1, #foto2, #foto3, #foto4, #foto5, #foto6{
    border: 0.5rem solid white;
    border-radius: 2rem;
}

@media (max-width: 1020px){
    #foto1, #foto2, #foto3, #foto4, #foto5, #foto6{
        width: 50rem;
    }
}

@media (max-width: 520px){
    #foto1, #foto2, #foto3, #foto4, #foto5, #foto6{
        border: 0.2rem solid white;
        width: 35rem;
    }

    .DivTitulo{
        margin-bottom: 3rem;
        color: white;
        font-family: 'Edu SA Beginner', cursive;
        font-size: 3rem;
    }
}

