@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.Home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;
    background-color: #141414;
}

.Home-h1{
    font-size: 10rem;
    font-family: 'Dancing Script', cursive;
    color: white;
    text-align: center;
}

.Home-h2{
    color: white;
}

@media (max-width: 420px){
    .Home-h1{
        font-size: 8rem;
    }
    .Home-h2{
        font-size: 1.5rem;
    }
}

