@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.blocks-contactanos{
    display: flex;
}

.black-block, .white-block{
    display: flex;
    flex-direction: row;
    height: 95vh;
    width: 50%;
}

.black-block{
    background-color: #171717;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datos{
    display: flex;
    flex-direction: column;
}

.white-block{
    background-color: #eeeeee;
    color: black;
}

#contactanos-img-ubicacion, 
#contactanos-img-telefono, 
#contactanos-img-instagram, 
#contactanos-img-facebook{
    width: 1.7rem;
    height: 5.5rem;
}

.contactanos-ubicacion, .contactanos-telefono, .contactanos-instagram, .contactanos-facebook{
    width: 100%;
    height: 3rem;
    color: white;
    display: flex;
    flex-direction: row;
}

#black-text{
    font-size: 1.3rem;
}

#contactanos-title{
    font-size: 7rem;
}

.white-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

#SubmitButton{
    color: white;
    border: none;
    padding: 0.5rem 3rem;
    background-color: red;
}

#SubmitButton:hover{
    background-color: black;
}

.ButtonDiv{
    display: flex;
    justify-content: center;
}

.Inputs, .ContactanosTextArea{
    border: 0;
    width: 30rem;
    border-radius: 0.3rem;
}

.Inputs{
    height: 2.5rem;
    padding-left: 1rem;
}

.ContactanosTextArea{
    height: 5rem;
}

.seccion1{
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
}

.Phone-Input{
    border: none;
}

.PhoneInputInput{
    border: none;
    border-radius: 0.3rem;
    height: 2.5rem;
    padding-left: 1rem;
}

@media (max-width: 835px) {
    #contactanos-title{
        font-size: 5rem;
    }
}

@media (max-width: 665px){
    .blocks-contactanos{
        flex-direction: column;
        width: 100%;
    }

    .black-block, .white-block{
        width: 100%;
        height: 90vh;
    }
}